HomeFinance.UI/Service References/AccountNotificatorServiceReference/AccountNotificatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountNotificatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3789/IAccountNotificatorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountNotificatorService_StartUpdateAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUpdateAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountNotificatorService_StartUpdateAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUpdateAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountNotificatorService_StopUpdateAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:StopUpdateAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountNotificatorService_StopUpdateAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopUpdateAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountNotificatorService">
    <wsdl:operation name="StartUpdateAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountNotificatorService/StartUpdateAccounts" message="tns:IAccountNotificatorService_StartUpdateAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountNotificatorService/StartUpdateAccountsResponse" message="tns:IAccountNotificatorService_StartUpdateAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopUpdateAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountNotificatorService/StopUpdateAccounts" message="tns:IAccountNotificatorService_StopUpdateAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountNotificatorService/StopUpdateAccountsResponse" message="tns:IAccountNotificatorService_StopUpdateAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountNotificatorService" type="tns:IAccountNotificatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartUpdateAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountNotificatorService/StartUpdateAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopUpdateAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountNotificatorService/StopUpdateAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountNotificatorService">
    <wsdl:port name="BasicHttpBinding_IAccountNotificatorService" binding="tns:BasicHttpBinding_IAccountNotificatorService">
      <soap:address location="http://localhost:3789/IAccountNotificatorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>